alembic
click
dominate
Flask
Flask-Bootstrap4
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
Mako
MarkupSafe
mypy
mypy-extensions
python-dateutil
python-editor
six
SQLAlchemy
Transcrypt
typed-ast
typing-extensions
visitor
Werkzeug
WTForms
